[Desktop Entry]
Encoding=UTF-8
Name=Blender
Name[pl]=Blender
Comment=3D modeling, rendering, animation and game creation package
Comment[pl]=Pakiet do tworzenia animacji 3D oraz gier
Exec=/usr/bin/blender
Terminal=false
Type=Application
Icon=blender.png
StartupNotify=true
Categories=Application;Graphics;
# vi: encoding=utf-8
